---
layout: default
---


{% for tag in site.categories %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }} ({{ tag | last | size }})</a> <span class="sep">|</span>
{% endfor %}

{% for tag in site.categories %}
<h4 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h4>
<ul>
{% for post in tag[1] %}
     {% if post.publish != false %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d" }} - {{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% endfor %}
